.page {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.main {
  width: 720px;
  padding: 0;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-900); /* 제목 텍스트 */
}

/* 프로필 이미지 */
.profileRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profileGuide {
  color: var(--gray-500);
  font-size: 14px;
}

/* 프로필 리스트 */
.profileList {
  margin-top: 8px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.profileItem {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.profileItem img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

/* --- Tiptap Editor Wrapper --- */
.editorWrapper {
  height: 260px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  background: var(--white);
  overflow: auto;
}

/* EditorContent 자체 */
.editorContent {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900);
}

/* 버튼 */
.submitWrapper {
  margin-top: 12px;
}


/* ---------------- 태블릿 (최대 768px) ---------------- */
@media (max-width: 768px) {

  .page {
    padding-top: 114px;
    padding-bottom: 132px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .main {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
  }

  .inner {
    gap: 40px;
  }

  .profileList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개씩 정렬 */
    grid-auto-rows: auto;
    gap: 12px;
    overflow-x: hidden; /* 태블릿에서는 스크롤 제거 */
    margin-top: 8px;
  }

  .profileItem img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
  }

  .submitWrapper {
    margin-top: 24px;
  }
}



/* ---------------- 모바일 (최대 480px) ---------------- */

@media (max-width: 480px) {

  .page {
    padding: 50px 20px; /* Figma 기준 좌20 상하50 */
  }

  .main {
    max-width: 360px;
    width: 100%;
  }

  .inner {
    gap: 40px;
  }

  .profileList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개씩 정렬 */
    gap: 12px;
    margin-top: 8px;
  }


  .profileItem img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .submitWrapper {
    margin-top: 20px;
  }


}
