.page {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.main {
  width: 720px;
  padding: 0;
}


.inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

/* 프로필 이미지 */
.profileRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profileGuide {
  color: #6b7280;
  font-size: 14px;
}

/* 프로필 리스트 */
.profileList {
  margin-top: 8px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.profileItem {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.profileItem img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

/* --- Tiptap Editor Wrapper --- */
.editorWrapper {
  height: 260px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #fff;
  overflow: auto;
}

/* EditorContent 자체 */
.editorContent {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

/* 버튼 */
.submitWrapper {
  margin-top: 12px;
}
