.listContainer {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 280px;
  height: 56px;
}

.categoryTitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.box {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}