.listContainer {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 280px;
  height: 56px;
}

.categoryTitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.categorySubTitle {
  margin-top: 50px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
}

.box {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.inputBox {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  gap: 6px;
}

.searchButton {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--purple-600);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pageWrapper {
  animation: fadeIn 0.6s ease forwards;
}

.inputCounterWrapper {
  display: flex;
  gap: 24px;
  align-items: end;
  justify-content: center;
}


@media (width <= 767px) {
  .section {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .categoryTitle,
  .categorySubTitle {
    margin: 32px 0 16px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--gray-900);
  }
  
  .inputCounterWrapper {
    gap: 12px;
    align-items: center;
    flex-direction: column;
  }

  .listPageButton {
    width: 320px;
    height: 56px;
    margin-left: 40px;
    font-size: 16px;
  }

  .box {
    display: block;
    width: 100%;
    margin-top: 24px;
    padding: 0 16px;
  }
}
