.container {
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  z-index: 9999;
  width: 524px;
  height: 64px;
  padding: 19px 30px;
  border-radius: 8px;
  background-color: rgb(0 0 0 / 80%);
  gap: 12px;
  align-items: center;
  animation: fade-in-out 3s ease forwards;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .container {
    width: 340px;
  }
}

@keyframes fade-in-out {
  0% {
    bottom: 40px;
    opacity: 0;
  }

  15% {
    bottom: 50px;
    opacity: 1;
  }

  70% {
    bottom: 50px;
    opacity: 1;
  }

  100% {
    bottom: 40px;
    opacity: 0;
  }
}

.container p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  flex-grow: 1;
}
