.subHeader {
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  padding: 11px 0 12px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .subHeader {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    row-gap: 4px;
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .rightArea {
    width: 100%;
  }
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: var(--gray-800);
}

.rightArea {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--gray-200);
}
