.subHeader {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 11px 0 12px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  justify-content: space-around; /* 좌: 제목 / 우: 나머지 */
}

/* 제목 */
.title {
  font-size: 18px;
  font-weight: 600;
}

/* 오른쪽 전체 row 정렬 */
.rightArea {
  display: flex;
  gap: 12px; /* 요소 간 간격 */
  align-items: center;
  flex-direction: row; /* row 정렬 */
}

/* 프로필 */
.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--gray-200);
}

.count {
  font-size: 14px;
  color: var(--gray-500);
}

.badgeList {
  display: flex;
  gap: 6px;
}
