.subHeader {
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  padding: 11px 0 12px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  justify-content: space-around;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.rightArea {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: row;
}


.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--gray-200);
}

.count {
  font-size: 14px;
  color: var(--gray-500);
}

.badgeList {
  display: flex;
  gap: 6px;
}

.pickerWrapper {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 9999;
}

.addButtonWrapper {
  position: relative;
}

.arrowDownWrapper {
  display: flex;
  position: relative;
  margin-right: 8px;
  align-items: center;
}


.arrowPopover {
  position: absolute;
  top: 110%;
  right: 0;
  z-index: 20;
  min-width: 120px;
  padding: 8px 0;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.arrowPopover > div {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.arrowPopover > div:hover {
  background: #f5f5f5;
}
