.subHeader {
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  padding: 11px 0 12px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.rightArea {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--gray-200);
}
