* {
  box-sizing: border-box;
}

.container {
  position: relative;
  z-index: 0;
  width: 275px;
  height: 260px;
  padding: 30px 24px 20px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
  overflow: hidden;
  cursor: pointer;
}

.containerShape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 142px;
  height: 142px;
  background-repeat: no-repeat;
}

.valueImage .overlay {
  position: absolute;
  z-index: -1;
  background-color: rgb(0 0 0 / 30%); /* 어두운 반투명 레이어 */
  inset: 0;
}

@media (width <= 767px) {
  .container {
    width: 220px;
    height: 210px;
    padding: 20px 16px;
  }
}
