.container {
  width: 56px;
  height: 56px;
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}


.image{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
