.header {
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ededed;
  justify-content: center;
}

.headerContainer {
  display: flex;
  width: 1200px;
  margin-top: 11px;
  margin-bottom: 12px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.logo {
  width: 106px;
  height: 42px;
}

.button {
  width: 157px;
  height: 40px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  background-color: var(--white);
  cursor: pointer;
}

.leftBox {
  display: flex;
  gap: 12px;
}

@media (width <= 1247px) {
  .headerContainer {
    width: 100%;
    padding: 0 24px;
    justify-content: space-between;
  }

  .leftBox {
    gap: 8px;
  }
}

/* ✅ 모바일 전용 (767px 이하) */
@media (width <= 767px) {
  .headerContainer {
    width: 100%;
    padding: 0 16px; /* 좌우 여백 조금 줄임 */
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 84px;
    height: auto;
  }

  .leftBox {
    gap: 6px;
  }

  .button {
    width: auto;
    height: 36px;
    min-width: 110px;
    padding: 0 10px;
    font-size: 13px;
    white-space: nowrap;
  }


  .googleButton {
    transform: scale(0.85);
    transform-origin: right center;
  }

  .googleButton button {
    heighT: 36px;
    padding: 0 8px;
    font-size: 13px;
  }
}

