.profileWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

@media (max-width: 900px) {
  .profileWrapper {
    display: none;
  }
}

.profileWrapper > div {
  margin-left: -24px;
}

.profileWrapper > div:first-child {
  margin-left: 0;
}

.profileWrapper > div:nth-child(1) {
  z-index: 1;
}

.profileWrapper > div:nth-child(2) {
  z-index: 2;
}

.profileWrapper > div:nth-child(3) {
  z-index: 3;
}
