.container {
  width: 168px;
  height: 168px;
  background-color: var(--gray-200);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner {
  /* display: none; */
  width: 120px;
}
.innerText {
  font-size: 13px;
  color: var(--gray-500);
}
