.container {
  width: 384px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 28px 24px;
  /* font-family: 'pretendard'; */
}

.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
}

span {
  font-weight: 700;
}

.senderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  font-size: 18px;
  color: #4A4A4A;
  margin-top: 16x;
  margin-bottom: 16px;
}

.createdAt {
  font-size: 12px;
  font-weight: 400;
  color:#999999;
}