.Container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .mainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
} */

.formContainer {
  max-width: 720px;
  padding: 57px 0 50px;
}

.formText {
  padding-bottom: 12px;
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1%;
}

.formBox {
  width: 720px;
}

.optionTitle {
  padding-bottom: 4px;
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1%;
  color: var(--gray-900);
}

.optionDescription {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -1%;
  color: var(--gray-500);
}

.toggleWrapper {
  display: flex;
  position: relative;
  width: 244px;
  height: 40px;
  margin: 24px 0 45px;
  border-radius: 8px;
  background: var(--gray-100);
  align-items: center;
  overflow: hidden;
}

.toggleWrapper button {
  position: relative;
  z-index: 2;
  width: 122px;
  height: 40px;
  border: none;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-500);
  background: transparent;
  cursor: pointer;
}

.toggleWrapper button.activeText {
  color: var(--purple-600);
}

.toggleWrapper button.inactiveText {
  color: var(--gray-500);
}

.indicator {
  position: absolute;
  top: 2px;
  z-index: 1;
  width: 122px;
  height: 36px;
  border: 2px solid var(--purple-600);
  border-radius: 8px;
  background: white;
  transition: all 0.25s ease-in-out;
}

.indicator.left {
  left: 2px;
}

.indicator.right {
  left: 120px;
}

.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.changeButton {
  margin-top: 24px;
}

.optionBox {
  display: flex;
  width: 720px;
  height: 168px;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.buttonBox {
  margin: 69px 0;
}

.submitButton {
  width: 720px;
}
