<<<<<<< HEAD
/* wrapper는 relative로 세팅 */
=======
>>>>>>> dev
.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

<<<<<<< HEAD
/* 카드 리스트는 가운데만 차지 */
.cardContainer {
  display: flex;
  width: 100%;
  gap: 24px;   /* 카드 간격 */
  overflow: hidden;
}

/* 좌우 화살표는 카드 영역 위에 겹쳐서 배치 */
=======
.sliderWindow {
  width: max-content;
  overflow: hidden;
}

.cardContainer {
  display: flex;
  gap: 24px;
  transition: transform 0.3s ease-in-out;
}


>>>>>>> dev
.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.leftArrow {
<<<<<<< HEAD
  left: -36px;
}

.rightArrow {
  right: -36px;
}
=======
  left: -40px;
}

/* 오른쪽 버튼을 캐러셀 영역 밖에 */
.rightArrow {
  right: -40px;
}
>>>>>>> dev
