.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.cardContainer {
  display: flex;
  width: 100%;
  gap: 24px;
  overflow: hidden;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.leftArrow {
  left: -36px;
}

.rightArrow {
  right: -36px;
}
