.pageBackground {
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.headerWrap {
  width: 100%;
  background-color: var(--white);
}

.buttonContainer {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backBtn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0.8px 0.8px 2px var(--gray-300);
}

.deleteBtn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  
  width: 92px;
  height: 39px;
  border-radius: 6px;
  background-color: var(--purple-600);
  color: var(--white);
  font-family: Pretendard, sans-serif;
  font-size: 16px;
}

.deleteBtn:hover {
  background-color: var(--purple-700);
}

.main {
  width: 1200px;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 11px;

}

@media (max-width: 1284px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main > :first-child { 
  order: -1; 
}

.toast {
  position: fixed; 
  left: 50%;
  transform: translateX(-50%); 
  bottom: 70px; 
  
  z-index: 1000;
}