.pageBackground {
  background-color: var(--beige-200);
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.headerWrap {
  width: 100%;
  background-color: var(--white);
}

.main {
  width: 1200px;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 113px;

}

/* AddCard 컴포넌트는 맨 앞에 두기 */
.main > :first-child { 
  order: -1; 
}

.toast {
  position: fixed; 
  
  left: 50%; /* 뷰포트 가로 중앙에 위치 */
  transform: translateX(-50%); /* 요소 너비의 50%만큼 왼쪽으로 이동하여 완벽한 중앙 정렬 */
  
  /* ✨ 하단에서 70px 띄우기 */
  bottom: 70px; 
  
  z-index: 1000;
}