.pageBackground {
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.headerWrap {
  width: 100%;
  background-color: var(--white);
}

.main {
  width: 1200px;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 113px;

}

/* AddCard 컴포넌트는 맨 앞에 두기 */
.main > :first-child { 
  order: -1; 
}

.toast {
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  bottom: 70px; 
  
  z-index: 1000;
}