.wrapper {
  position: relative;
}

.pickerWrapper {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 20;
  background: white;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
